/* /* *{
    outline: 1px dotted red;  */
    
#contenedor{
    width: 970px;
}
    #div4{
        width: 100%;
        background-color: #1A1A1A;
    }
    #mainpic{
        display: block;
        border-bottom: 10px solid #3B3B3B;
        width: 100%;

    }
    .lista{
        display: inline-block;
        width: 220px;
        vertical-align: top;
        margin: 1%;
    }
    .lista h2{
        display: inline-block;
        margin: 0%;
        color: #EF7F2C;
        width: 172px;
        font-size: 144%;
        vertical-align: top;
    }
    .lista p{
        margin: 0%;
        color: #CFCFCF;
        width: 183px;
        margin-left: 35px;
        
    }
    .icon_content1{
        display: inline-block;
        width: 20%;
    }
    .icon_content2{
        display: inline-block;
        width: 18%;
    }