
.col{
    margin: 1%;
    height: 100px;
    background-color: #b3b3b3;
    border: 5px solid #c8c8c8;
    min-width: 480px;
    height: 150px;
}
@media (max-width: 480px){
    .sm-4{
        background-color: #ffff9a;
        border: 5px solid #d6ca7e;
        margin: 1%;
        min-width: 480px;
        height: 150px;
    }
    .sm-0{
        display: none;
    }
}
@media (min-width: 481px){
    .med-4{
        background-color: #ffff9a;
        border: 5px solid #d6ca7e;
        margin: 1%;
        min-width: 480px;
        height: 150px;
    }
    .med-0{
        display: none;
    }
}    
@media (min-width: 1024px){
    .lg-4{
        display: block;
        background-color: #ffff9a;
        border: 5px solid #d6ca7e;
        margin: 1%;
        height: 150px;
    }
    .lg-0{
        display: none;
    }
}
